NEXT_PUBLIC_BUCKET_HOST=""
NEXT_PUBLIC_HIGHLIGHT_PROJECT_ID=""
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=""
NEXT_PUBLIC_MEDUSA_URL=""
NEXT_PUBLIC_STRAPI_TOKEN=""
NEXT_PUBLIC_STRAPI_URL=""
NEXT_PUBLIC_STRIPE_KEY=""
NEXT_PUBLIC_REGION_ID=""