ADMIN_CORS=""
ADMIN_EMAIL=""
COOKIE_SECRET=""
DATABASE_TYPE=""
DATABASE_URL=""
DELIVERY_SHIPPING_OPTION_ID=""
JWT_SECRET=""
MEDUSA_BACKEND_URL=""
MEDUSA_URL=""
PGDATABASE=""
PGHOST=""
PGPASSWORD=""
PGPORT=""
PGUSER=""
PORT=""
REDIS_URL=""
REDISHOST=""
REDISPASSWORD=""
REDISPORT=""
REDISUSER=""
RESEND_API_KEY=""
STORE_CORS=""
STRIPE_API_KEY=""
STRIPE_WEBHOOK_SECRET="